[submodule "pash"]
	path = pash
	url = https://github.com/huangworld/pash.git
	branch = dspash-future
[submodule "docker-hadoop"]
	path = docker-hadoop
	url = https://github.com/huangworld/docker-hadoop
